.jokeDiv {
  border: solid 2px black;
  width: 80%;
  margin: auto;
  min-height: 200px;
  text-align: center;
}

.scroll-content{
  text-align: center;
}

.punchLineDiv{
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: fit-content;
  margin: auto;
  align-items: center;
}

.logOutHeader{
  margin: 10px 20px;
  display: block;
}

.ion-content{
  top: 80px;
}

ion-icon{
  font-size: 30px;
}


