<ion-header>
  <a class="logOutHeader">Log Out</a>
</ion-header>

<ion-content padding>
  <h2>Life is short. <br> Smile while you still have teeth.</h2>
  <button className="getJokeBtn" (click)="callToApiForJoke()" ion-button>Joke Me</button>

  <div class="jokeDiv" *ngIf="joke" >
    <p>{{ joke }}</p>
    <div class="punchLineDiv" (click)="togglePunchLine()">
      <p>See Punchline</p>
      <ion-icon [name]="iconName"></ion-icon>
    </div>
    <div *ngIf="punchLineVisible">
      <p>{{ punchLine }}</p>
    </div>

    <div>
      <p>Like this joke? Save it!</p>
      <div (click)="saveJoke(punchLine, joke)">
        <ion-icon name="star"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>
